certifi==2020.12.5
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
pandas @ file:///C:/ci/pandas_1608056614942/work
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
six @ file:///C:/ci/six_1605187303045/work
wincertstore==0.2

numpy~=1.19.2
pandas~=1.1.5